*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{margin-bottom: 1rem;}

body{
    display: flex;
    flex-direction: column;
    
}

main{display:flex;
    align-items: flex-start;
     min-height: 100dvh;}

footer{
    background-color: #1E1E1E;
    text-align: center;
    font-size: smaller;
    padding: 0.5rem;
}

#sidebar{
    position: sticky;
    top: 0; 
    left: 0;
    width: 260px;          
    height: 100vh;
    background-color: #6ab848;
    padding: 1rem;
    
}

ol{list-style: none;}
li{padding: 0.5rem;}

section{
    padding: 1rem;
    background-color: #1E1E1E;
    flex-grow: 1;
}